---
const {url} = Astro.props
---
<a href={url}>Vidi više</a>

<style>
    a{
        background-color: var(--color-neutral-600);
        color: var(--color-neutral-200);
        padding: var(--padding-medium) var(--padding-big);
        border-radius: var(--borderradius-medium);
        width: 200px;
        text-align: center;
        margin-left: auto;

    }
</style>

