<footer>
  <div class="footerHeader">
    <div>
      <h3>Dobrovoljno vatrogasno društvo Sikirevci</h3>
      <span>OIB: 80600094163</span>
    </div>
    <img
      class="logo-small"
      src="../../../images/DVD-Sikirevci-logo.png"
      alt="Grb DVD-a Sikirevci"
    />
  </div>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-geo-alt-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"
      ></path>
    </svg>
    <address>Ulica Ljudevita Gaja 12, 35224 Sikirevci</address>
  </div>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-envelope-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"
      ></path>
    </svg>
    <span>dvdsikirevci2@gmail.com</span>
  </div>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-person-circle"
      viewBox="0 0 16 16"
    >
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
      <path
        fill-rule="evenodd"
        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
      ></path>
    </svg>
    <span
      >Predsjednik: <br />
      Martin Živić <br />
      091 144 4521</span
    >
  </div>
</footer>

<style>
  footer {
    background-color: var(--color-neutral-400);
    padding: var(--padding-big);
  }
  .footerHeader {
    display: flex;
    align-items: center;
  }
  footer img {
    height: 75px;
    aspect-ratio: 1/1;
  }

  footer > div {
    display: flex;
    align-items: center;
    column-gap: var(--gap-small);
    padding: var(--padding-medium);
  }
</style>
