<section class="hero">
  <img
    src="/images/DVD-Sikirevci-vatrogasni-dom-i-vatrogasna-vozila.jpg"
    alt="Vozila DVD-a Sikirevci parkirana ispred zgrade DVD-a"
  />
  <h1>
    <span>Službena stranica</span>
    <br />
    DVD Sikirevci
  </h1>
</section>

<style>
  section.hero {
    background-color: var(--color-primary-400);
    color: var(--color-neutral-000);
    text-align: center;
  }

  h1 {
    text-transform: uppercase;
    padding-block: var(--padding-small);
  }

  h1 > span {
    font-weight: var(--fontweight-400);
    text-transform: none;
  }
</style>
